<form (ngSubmit)="submitForm()">
  <img src="" alt="logo">

  <div class="form-name-title">
    <h2 class="">{{ "public.quiz.form.name.title" | translate }}</h2>
<!--    <p>{{ "public.quiz.form.name.subtitle" | translate }}</p>-->
  </div>

  <div class="form-name-input">
    <div class="col-md-6 w-100">
      <span class="fw-bolder">{{ "public.quiz.form.name.input_label" | translate }}</span>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="{{ 'public.quiz.form.name.placeholder' | translate }}" [(ngModel)]="name" name="name" required>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button color="primary" class="w-25" mat-raised-button (click)="goBack()" >
        <i class="fa-solid fa-arrow-left"></i>
        <!--          {{ "public.quiz.form.name.button.back" | translate }}-->
      </button>
      <button color="primary" class="w-50" mat-raised-button type="submit">
        {{ "public.quiz.form.name.button.next" | translate }}
        <i class="fa-solid fa-arrow-right arrow"></i>
      </button>
    </div>
  </div>
</form>
