<div class="content-sale">

    <h1 class="citation">
        "Conhece-te a ti mesmo e conhecerás o universo e os deuses." – Sócrates
    </h1>
    
    <div *ngIf="mainProduct" class="main-product">
        <div class="product-card">
          <img [src]="mainProduct.image" alt="{{ mainProduct.title }}" class="product-image" />
          <div class="product-details">
            <h2>{{ mainProduct.title }}</h2>
            <p>
                Descubra os segredos do seu destino com o nosso relatório personalizado! <br>
                Sabia que a sua data, hora e local de nascimento revelam detalhes incríveis sobre a sua personalidade, desafios e oportunidades na vida? <br>            
            </p>
            <div class="d-flex justify-content-end">
                <button (click)="openDialogProduct(mainProduct.id)" class="buy-button pulsating">Comprar por € {{ mainProduct.amount }}</button>
            </div>
          </div>
        </div>
    </div>
      
      <div *ngIf="bundle" class="bundle-section">
        <div class="bundle-card">
            <div class="promotion">
                <h3 class="text-center">Oferta Especial</h3>
                <p>Inclui o {{ mainProduct.title }} e mais {{ bundle.count }} produtos por apenas € {{ bundle.sum }}!</p>
            </div>
            <div class="bundle-products">
                <div *ngFor="let product of bundle.reports" class="bundle-product">
                <img [src]="product.image" alt="{{ product.title }}" class="bundle-image" />
                <p>{{ product.title }}</p>
                </div>
            </div>
            <button class="buy-button pulsating" (click)="openDialogProduct('bundle')">Comprar Oferta por € {{ bundle.sum }}</button>
            </div>
      </div>   
</div>
