:host {
  width: 100%;
}

footer {
  padding-bottom: 1rem;
  p {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 0.8rem;
    color: rgb(130, 130, 130);

    a {
      color: rgba(0, 123, 255, 0.79);
      text-decoration: none;
    }
  }
}
