<div class="success-content">
    <div class="icon">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <h1>Pagamento processado </h1>

    <div class="cards mt-3">

        

        <div class="card mt-3">
          <div class="card-body">
            <h4 class="card-title">
                <i class="fa-solid fa-envelope"></i>
                Recebimento
            </h4>
            <h6 class="card-subtitle text-muted">
                Você irá receber seu relatório por email em breve.
            </h6>
          </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa-solid fa-file-arrow-down"></i>
                Download
            </h4>
              <h6 class="card-subtitle text-muted">
                Recomendamos que faça download do seu relatório.
            </h6>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa-solid fa-heart-circle-check"></i>            
                Agradecimento
              </h4>
              <h6 class="card-subtitle text-muted">
                Muito obrigado por compra conosco.
            </h6>
            </div>
        </div>
    </div>

    <div [innerHTML]="tags" class="tags"></div>
</div>
