<div class="success-content">
    <div class="icon">
        <i class="fa-regular fa-circle-check"></i>
    </div>
    <h1>Pagamento Recebido </h1>

    <div class="cards mt-3">

        

        <div class="card mt-3">
          <div class="card-body">
            <h4 class="card-title">
                <i class="fa-solid fa-envelope"></i>
                Entrega
            </h4>
            <h6 class="card-subtitle text-muted">
              A entrega será efetuada através de email dentro de alguns minutos, em caso de dificuldade verifique a sua caixa de Spam. 
            </h6>
          </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa-solid fa-file-arrow-down"></i>
                Download
            </h4>
              <h6 class="card-subtitle text-muted">
                Recomendamos que faça download do seu Mapa Astral deste modo poderá consulta-lo em qualquer local.
            </h6>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa-solid fa-heart-circle-check"></i>            
                Agradecimento
              </h4>
              <h6 class="card-subtitle text-muted">
                Agradecemos a sua preferência e confiança, em caso de dúvidas estaremos disponíveis através do email
                <a href="mailto:contacto@zodiarium.com">{{ 'contacto@zodiarium.com' }}</a>  ou pelo nosso WhatsApp:
                <a href="wa.me/+351916785683">+351916785683</a>
            </h6>
            </div>
        </div>
    </div>

    <div *ngIf="tags" [innerHTML]="tags" class="tags"></div>
</div>
