<div class="avatar-container" [ngStyle]="getContainerStyle()">

    <div *ngIf="edit" class="edit-overlay" [ngStyle]="getEditOverleyStyle()">
        <div class="edit-text" (click)="method.emit()">
            <div class="row text-center">
                <div class="col-12 mb-5">
                    <mat-icon>camera_alt</mat-icon>
                </div>
                <div class="col-12" style="font-size: 0.5em; line-height: 1;">
                    <span>mudar foto do perfil</span>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="imageUrl; else initialsOrIconBlock">
        <img [ngStyle]="getAvatarImageStyle()" [src]="imageUrl" [alt]="altText"/>
    </ng-container>
    <ng-template #initialsOrIconBlock>
        <div class="avatar-text" [ngStyle]="getSizeTxt()" *ngIf="altText">{{ initials }}</div>
        <mat-icon style="color:white !important;" [ngStyle]="getIconStyle()" *ngIf="!altText && !imageUrl">person
        </mat-icon>
    </ng-template>
</div>

