@import "_variables";

#headerButtons {

  display: flex;
  align-items: center;
  gap: 1rem;

  .headerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    white-space: nowrap;
    color: $white-100;
    background-color: $yellow_opacity;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
}

#addItem {
  width: fit-content;
  border-radius: 4px;

  button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    color: $white-100;
    background-color: $yellow;
    border: none;
    outline: none;

    i {
      font-size: 1em;
    }
  }
}

#files {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 100%;

  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-200;
    width: 10rem;
    min-height: 3rem;
    height: auto;

    .delete {
      position: absolute;
      top: 0;
      right: 0;
      color: $red;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: $white-100;
      height: fit-content;
      border-radius: 50px;
      width: 1.4rem;
      height: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fa-file {
      font-size: 2rem;
    }
  }

}

#inputFileAdd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 2rem;
  width: 12rem;
  background-color: $white-400;
  cursor: pointer;

  #text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  input#file-upload-button {
    display: none;
  }
}

mat-spinner {
  height: 2.8rem !important;
}

::ng-deep {

  .no-checkbox {
    .mat-pseudo-checkbox {
      display: none !important;
    }
  }

}
