@import "variables";

:host {
  font-family: 'Cera Bold', sans-serif !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 1rem;

  img {
    height: 50px;
  }

  .form-date-of-birth-title {
    text-align: center;
    flex: 0.5;

    h2 {
      font-size: 2.25rem;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, $primary, $secondary);
    }

    p {
      font-size: 1.125rem; /* Tamanho padrão (lg) */
      color: #27272a;
    }

    @media (min-width: 768px) {
      h2 {
        font-size: 3rem; /* Tamanho maior (5xl) */
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  .form-date-of-birth-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.arrow {
  position: relative;
  animation: moveArrow 1.5s ease-in-out infinite;
}

/* Animação para mover a seta */
@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
