<div class="send-container">
  <div class="send-card">
    <div class="send-card-header">
      <h3>Informe seu email e telefone para receber seu relatório completo.</h3>
    </div>

    <div class="send-card-body">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="formData.name" name="name" id="name" placeholder="Insira o seu nome" />
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="formData.email" name="email" id="email" type="email" placeholder="Insira o seu email" />
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>DDI</mat-label>
          <mat-select [(ngModel)]="formData.ddi" name="ddi" id="ddi">
            <mat-option *ngFor="let ddi of ddiList" [value]="ddi.code">
              {{ ddi.name }} ({{ ddi.code }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Telefone</mat-label>
          <input type="text" matInput [(ngModel)]="formData.phone" name="phone" id="phone" [mask]="'(00) 000 0000'"
                 placeholder="(xx) xxx xxxx" />
        </mat-form-field>

        <div class="w-100 d-flex justify-content-center align-items-center">
          <button class="button-send" type="submit">Abrir Horóscopo</button>
        </div>
      </form>
    </div>
  </div>
</div>
