@import "variables";

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  p {
    text-align: center;
    font-size: 1.1rem;
    color: #666;

    a {
      color: #007bff;
      text-decoration: none;
    }
  }
}


// Telas grandes
@media (min-width: $breakpoint-lg) {
  // Estilos para telas grandes
  footer {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}

// Laptops
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  footer {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

// Tablets
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
  footer {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

// Smartphones grandes
@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm - 1) {
  footer {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}

// Smartphones pequenos
@media (max-width: $breakpoint-xs - 1) {
  footer {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}
