@import "variables";

main {
  display: flex;
  align-items: stretch;
  height: 100dvh;
  overflow-y: hidden;
  background-color: $gray-300;

  section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 0;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    background-color: $white-200;

    .content {
      flex: 1;
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }
}
