<div class="card card-stats">
  <div class="card-header card-header-icon">
    <div class="card-icon" [ngStyle]="{'background': data?.background, 'color': data?.color}">
      <i class="{{data?.icon}}"></i>
    </div>
    <p class="card-category">
      <span>
        {{ data?.category }}
      </span>
    </p>
    <h3 class="card-title">{{ data?.title }}</h3>
  </div>
  <div class="card-footer">
    <div class="stats">
      @if (data?.icon_description) {
        <i class="{{data?.icon_description}}"></i>
      }
      <p>{{ data?.description }}</p>
    </div>
  </div>
</div>
